
.home-about-section {
  padding-top: 30px; 
  min-height: 100vh;
}

.intro {
  padding: 9rem 0 2rem;
}

.myAvtar {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

.home-about-description {
  padding-bottom: 20px;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em;
}

h2 {
  display: flex;
    font-weight: bold;
    justify-content: center;
    padding-right: 1px;
}

.skills {
  text-align: center;
  padding-top: 25px;
}



.home-about-skills-list {
  justify-content: center;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  position: relative;
  list-style-type: none;  
  justify-content: space-evenly;
}

.home-about-skills-list {
  font-weight: bold;
}

.about-skills-icons:hover {
    color: var(--light);
    cursor: none;
  }

  .blue {
    color: rgb(10, 4, 22);
  }