
/* HEADER */

.first-page {
  padding-top: 30px; 
  min-height: 100vh;
}

.introduction {
  padding: 9rem 0 2rem;
  text-align: left;
}

.heading {
  font-size: 100px;
  padding-left: 50px;
}

.heading-name {
  font-size: 100px; ;
  padding-left: 45px;
}


.cover {
  height: 60vh;
  padding-bottom: 27px;
}

/* Wave */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* Header image */

.cover { 
  animation-name: cover;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes cover {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

/* type Writer */


.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: var(--light) !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: var(--light)!important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper,
  .Typewriter__cursor {
 font-size: 10px;
}
.heading,
.heading-name {
  font-size: 50px;
}
.cta-about,
.cta-portfolio {
  width: 25px;
  height: 25px;
}
}
.cta {
  padding-top: 50px; 
  justify-content: center;
  display: flex;
}
.cta-about {
  border: 2px solid 	var(--dark);
  background: transparent;
  color:	var(--dark);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 50px;
}


.cta-portfolio {
  background:	var(--dark);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
}