:root {
  --light: #93C6E7;
  --dark: #94BFCD;
}

.navbar {
  right: 20px;
  position: absolute !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
  }


.navbar a {
    font-size: 22px;
      color: var(--light);
      padding: 14px 20px;
      text-decoration: none;
      
    }
  
.navbar a:hover {
    background-color: var(--light);
    color: white;
  }

  /* For responsive Use*/

  input[type=checkbox] {
    display: none;
    } 
    
    /* HAMBURGER MENU */
    .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    }


@media (max-width: 767px) {
  .navbar {
    visibility:hidden;
  }
  
}